@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar {
   scrollbar-color: gray white;
   scrollbar-width: thin;
}
.custom-scrollbar::-webkit-scrollbar {
   width: 0.4rem;
   height: 0.4rem;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
   border-radius: 0.5rem;
   background: gray;
}

.authInputBox {
   width: 100%;
   margin: auto;
   position: relative;
   display: flex;
   align-items: center;
   margin-block: 0.5rem;
   /* border-color: #a9d1ff; */
   /* border-width: 2px; */
   border-radius: 2px;
   padding-right: 0.3rem;
}
.authInputBox input {
   width: 100%;
   display: flex;
   cursor: pointer;
   padding: 0.5rem;
   margin: auto;
   outline: none;
   background-color: transparent;
}

.authInputBox label {
   position: absolute;
   top: -0.25rem;
   left: 0.5rem;
   transform: translate(0, 50%);
   /* color: white; */
   padding: 0.1rem;
   font-size: 16px;
   pointer-events: none;
   transition: 0.3s;
   height: fit-content;
   font-size: 0.9rem;
   z-index: 100;
}
.authInputBox input:focus ~ label,
.authInputBox input:not([value=""]) ~ label {
   transform: translate(0, -50%);
   /* color: #03a9f4; */

   /* background-color: white; */
}

@keyframes wiggle {
   0%,
   75%,
   100% {
      transform: rotate(0deg);
   }
   80% {
      transform: rotate(1deg) translateX(10px);
   }
   85% {
      transform: rotate(-1deg) translateX(-10px);
   }
   90% {
      transform: rotate(1deg) translateX(10px);
   }
   95% {
      transform: rotate(-1deg) translateX(-10px);
   }
}

.animate-wiggle {
   animation: wiggle 3s infinite ease-in-out;
}

@keyframes slideInFromRight {
   0% {
      transform: translateX(100%);
      opacity: 0;
   }
   100% {
      transform: translateX(0);
      opacity: 1;
   }
}

@keyframes slideInFromLeft {
   0% {
      transform: translateX(-100%);
      opacity: 0;
   }
   100% {
      transform: translateX(0);
      opacity: 1;
   }
}

.animate-slide-in-right {
   animation: 0.5s ease-out 0s 1 slideInFromRight;
}

.animate-slide-in-left {
   animation: 0.5s ease-out 0s 1 slideInFromLeft;
}
