@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar {
   scrollbar-color: gray white;
   scrollbar-width: thin;
}
.custom-scrollbar::-webkit-scrollbar {
   width: 0.4rem;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
   border-radius: 0.5rem;
   background: gray;
}

@keyframes wiggle {
   0%,
   75%,
   100% {
      transform: rotate(0deg);
   }
   80% {
      transform: rotate(1deg) translateX(10px);
   }
   85% {
      transform: rotate(-1deg) translateX(-10px);
   }
   90% {
      transform: rotate(1deg) translateX(10px);
   }
   95% {
      transform: rotate(-1deg) translateX(-10px);
   }
}

.animate-wiggle {
   animation: wiggle 3s infinite ease-in-out;
}
